flows (1).json
[{"id":"a59a7722.8687a8","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"f49445be.8b7158","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e00acba7.38fb08","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"ud5wxj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7ec0a1a7.8e224","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"c6747832.517b38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1de189f8.85ab06","type":"ui_group","name":"Default","tab":"7ec0a1a7.8e224","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d17a430.04557c","type":"inject","z":"a59a7722.8687a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello","payloadType":"str","x":190,"y":460,"wires":[["dccfaf70.97b99"]]},{"id":"dccfaf70.97b99","type":"debug","z":"a59a7722.8687a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":420,"wires":[]},{"id":"e041d8b6.551928","type":"ibmiot in","z":"a59a7722.8687a8","authentication":"apiKey","apiKey":"e00acba7.38fb08","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"399","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":50,"y":660,"wires":[["270f93c7.1de55c","e065f8d9.3bdb48","1f70f387.74b01c"]]},{"id":"270f93c7.1de55c","type":"debug","z":"a59a7722.8687a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":680,"wires":[]},{"id":"e065f8d9.3bdb48","type":"function","z":"a59a7722.8687a8","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":620,"wires":[["270f93c7.1de55c","7ffa7cdc.611e24"]]},{"id":"1f70f387.74b01c","type":"function","z":"a59a7722.8687a8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":740,"wires":[["270f93c7.1de55c","bc9cd1b9.de2de"]]},{"id":"7ffa7cdc.611e24","type":"ui_chart","z":"a59a7722.8687a8","name":"temperature","group":"1de189f8.85ab06","order":0,"width":0,"height":0,"label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":430,"y":620,"wires":[[]]},{"id":"bc9cd1b9.de2de","type":"ui_gauge","z":"a59a7722.8687a8","name":"humidity","group":"1de189f8.85ab06","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":740,"wires":[]},{"id":"c284109b.062c8","type":"ui_button","z":"a59a7722.8687a8","name":"ac on","group":"1de189f8.85ab06","order":2,"width":0,"height":0,"passthru":false,"label":"ac on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"acon\"}","payloadType":"json","topic":"","topicType":"str","x":190,"y":1020,"wires":[["ad2f08f0.062a68","4d431477.9561cc"]]},{"id":"b9a1ae4f.a6213","type":"ui_button","z":"a59a7722.8687a8","name":"ac off","group":"1de189f8.85ab06","order":3,"width":0,"height":0,"passthru":false,"label":"ac off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"acoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":270,"y":1080,"wires":[["ad2f08f0.062a68","4d431477.9561cc"]]},{"id":"ad2f08f0.062a68","type":"debug","z":"a59a7722.8687a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":1060,"wires":[]},{"id":"4d431477.9561cc","type":"ibmiot out","z":"a59a7722.8687a8","authentication":"apiKey","apiKey":"e00acba7.38fb08","outputType":"cmd","deviceId":"399","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":460,"y":980,"wires":[]},{"id":"59d93691.101018","type":"http request","z":"a59a7722.8687a8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=Cu3d6jGwfOka2lgmV58s7p0t1EWPqXIQyTJUrvoYHiFZBhnx4Sc032wa95ijXBFftmp1bG8YDEHoklAh&message=This%20is%20test%20message&language=english&route=q&numbers=7989085399","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":780,"wires":[["1e913945.a205c7"]]},{"id":"5a4fcb8c.54fe64","type":"switch","z":"a59a7722.8687a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"70","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":290,"y":800,"wires":[["59d93691.101018"]]},{"id":"1e913945.a205c7","type":"debug","z":"a59a7722.8687a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":880,"wires":[]},{"id":"f8847339.9c614","type":"ibmiot in","z":"f49445be.8b7158","authentication":"apiKey","apiKey":"e00acba7.38fb08","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"398","applicationId":"","deviceType":"garbagebin1","eventType":"+","commandType":"home","format":"json","name":"garbagebin1","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":40,"wires":[["4a8fffc3.de9f8"]]},{"id":"253a999a.a82cc6","type":"debug","z":"f49445be.8b7158","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":220,"wires":[]},{"id":"747efe28.86a5c","type":"inject","z":"a59a7722.8687a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":100,"wires":[[]]},{"id":"e72e351d.63a2c8","type":"debug","z":"a59a7722.8687a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":180,"wires":[]},{"id":"83bbd422.52f138","type":"function","z":"a59a7722.8687a8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":180,"wires":[[]]},{"id":"e8b9630d.2b5e6","type":"ui_gauge","z":"f49445be.8b7158","name":"garbagebin1","group":"1de189f8.85ab06","order":4,"width":0,"height":0,"gtype":"wave","title":"garbagebin1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":20,"wires":[]},{"id":"4a8fffc3.de9f8","type":"function","z":"f49445be.8b7158","name":"garbagebin1","func":"msg.payload=msg.payload.d.iotdevice\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":120,"wires":[["253a999a.a82cc6","e8b9630d.2b5e6","a711e2b7.c0ea6","7e509a66.309114"]]},{"id":"79566926.1780d8","type":"ibmiot in","z":"f49445be.8b7158","authentication":"apiKey","apiKey":"e00acba7.38fb08","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"397","applicationId":"","deviceType":"garbagebin2","eventType":"+","commandType":"","format":"json","name":"garbagebin2","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":320,"wires":[["ea789ef1.6ccd"]]},{"id":"ea789ef1.6ccd","type":"function","z":"f49445be.8b7158","name":"garbagebin2","func":"msg.payload=msg.payload.d.iotdevice\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":320,"wires":[["ea546aa3.ce44e8","a7a5aea4.d7e76","e0ff1f16.696a3","253a999a.a82cc6"]]},{"id":"ea546aa3.ce44e8","type":"ui_gauge","z":"f49445be.8b7158","name":"garbagebin2","group":"1de189f8.85ab06","order":5,"width":0,"height":0,"gtype":"wave","title":"garbagebin2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":420,"wires":[]},{"id":"a711e2b7.c0ea6","type":"switch","z":"f49445be.8b7158","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":80,"wires":[["d7ca7d50.2832e","431c4e2b.43a42"]]},{"id":"a7a5aea4.d7e76","type":"switch","z":"f49445be.8b7158","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":340,"wires":[["2f9767ba.2ec708","d3ae07b8.7fa4c8"]]},{"id":"d3ae07b8.7fa4c8","type":"ui_toast","z":"f49445be.8b7158","position":"top left","displayTime":"500","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"garbage bin 2 is full","name":"","x":640,"y":380,"wires":[]},{"id":"431c4e2b.43a42","type":"ui_toast","z":"f49445be.8b7158","position":"top right","displayTime":"500","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"garbagebin 1 is full","name":"","x":560,"y":40,"wires":[]},{"id":"d7ca7d50.2832e","type":"trigger","z":"f49445be.8b7158","name":"","op1":"garbagebin 1 is full","op2":"garbagebin 1 is overflowing","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":550,"y":100,"wires":[["253a999a.a82cc6","12f03e3f.f34a32"]]},{"id":"2f9767ba.2ec708","type":"trigger","z":"f49445be.8b7158","name":"","op1":"garbagebin 2 is full","op2":"garbagebin 2 is overflowing","op1type":"str","op2type":"str","duration":"1","extend":false,"overrideDelay":false,"units":"hr","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":610,"y":320,"wires":[["253a999a.a82cc6","feed3ddf.fed1a"]]},{"id":"7e509a66.309114","type":"ui_worldmap","z":"f49445be.8b7158","group":"1de189f8.85ab06","order":6,"width":"5","height":"5","name":"bin map","lat":"17.4365째 N","lon":"78.5204째 E","zoom":"","layer":"OSM","cluster":"100","maxage":"500","usermenu":"show","layers":"show","panit":"true","panlock":"true","zoomlock":"true","hiderightclick":"false","coords":"deg","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":360,"y":120,"wires":[],"icon":"node-red/white-globe.svg"},{"id":"e0ff1f16.696a3","type":"ui_worldmap","z":"f49445be.8b7158","group":"1de189f8.85ab06","order":7,"width":"5","height":"5","name":"bin2map","lat":"17.4399째 N","lon":"78.4983째 E","zoom":"","layer":"OSM","cluster":"200","maxage":"500","usermenu":"show","layers":"show","panit":"true","panlock":"true","zoomlock":"true","hiderightclick":"true","coords":"deg","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":420,"y":480,"wires":[]},{"id":"12f03e3f.f34a32","type":"http request","z":"f49445be.8b7158","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=Cu3d6jGwfOka2lgmV58s7p0t1EWPqXIQyTJUrvoYHiFZBhnx4Sc032wa95ijXBFftmp1bG8YDEHoklAh&message=Bin1%20is%20full&language=english&route=q&numbers=6305552556","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":80,"wires":[["253a999a.a82cc6"]]},{"id":"feed3ddf.fed1a","type":"http request","z":"f49445be.8b7158","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=Cu3d6jGwfOka2lgmV58s7p0t1EWPqXIQyTJUrvoYHiFZBhnx4Sc032wa95ijXBFftmp1bG8YDEHoklAh&message=Bin2%20is%20full&language=english&route=q&numbers=6305552556","tls":"","persist":false,"proxy":"","authType":"","x":790,"y":340,"wires":[["253a999a.a82cc6"]]}]